.subtitle.about-blurb {
    width: 80%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
    widows: 5;
    color: #adadad;
}
.about-blurb.subtitle {
    font-size: min(max(min(2vw, 2.5vh), 14pt), 25pt);
}
.about-blurb.subtitle .highlight {
    color: var(--main-text);
    font-weight: 550;
}

.content-category {
    width: 80%;
    padding: 1vw;
    color: var(--main-text);
    flex-flow: column nowrap;
}
.content-category .subtitle {
    font-size: max(min(2.5vw, 3vh), 20pt);
}
.content-container {
    margin: 1vw;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 1vh;
    background-color: #222;
}
.content-container .content-heading.active {
    background-color: #444;
}
.content-container .content-heading {
    display: flex;
    flex-flow: row nowrap;
    background-color: #222;
    border-radius: 1vh;
    padding: 4vh 0vw;
}
.content-container .content-heading:hover {
    background-color: #666;
}
.content-container .content-heading .content-logo {
    width: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1vh 2vw;
    min-width: 20px;
    padding: 2px;
}
.content-container .content-heading .content-text {
    width: 90%;
    font-size: max(min(1.5vw, 2vh), 16pt);
    display: flex;
    flex-flow: column nowrap;
}
.content-container .content-heading .content-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.content-container .content-heading .content-text .content-title {
    font-size: max(100%, 14pt);
    font-weight: bold;
    padding-bottom: 0.5em;
    line-height: 120%;
}
.content-container .content-heading .content-text .content-subtitle {
    font-size: max(90%, 13pt);
    opacity: 80%;
    line-height: 120%;
}
.content-container .content-heading .content-text .content-dates {
    padding-top: 0.5em;
    color: var(--sub-text);
    font-size: max(75%, 12pt);
    line-height: 120%;
}

.skills {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1em;
}

.skills-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 10px;
}
.skills-label {
    height: 100%;
    font-size: 12pt;
    margin-right: 10px;
    line-height: 2.5em;
    line-height: calc(1em + 30px);
}

.skill {
    font-size: 12pt;
    text-align: center;
    margin-right: 0.5vw;
    margin-bottom: 10px;
    margin-left: 5px;
    line-height: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    background-color: #444;
    border-radius: 2em;
    padding: 0 10px;
    min-width: 3ch;
}
.skill:hover {
    opacity: 0.8;
}
.skill .text {
    width: 100%;
    text-align: center;
}
.content-category .subtitle.text {
    text-align: left;
    font-size: 110%;
    padding-top: 1em;
    padding-left: 2vw;
}

.content-category .subtitle.text .quote {
    font-style: italic;
    margin-left: 2vw;
    padding-bottom: 0em;
}
.content-category .subtitle.text .section-sub-header {
    font-weight: bold;
    padding-top: 0.5em;
}
.project-text p {
    font-size: max(100%, 13pt);
    text-indent: 3.5ch;
    color: #ccc;
}

img.left-wrap-img {
    float: left;
    min-width: 300px;
    padding: 0.5em 2vw;
    padding-left: 0;
}
.title-img {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.project-text a {
    text-decoration: underline;
}
.project-text a:hover {
    opacity: 0.8;
}

.project-text ul {
    padding: 1vh 2vw;
}
.project-text li {
    margin: auto 1vw;
    margin-bottom: 0.5vh;
}
@media (min-width: 1000px) {
    .project-text ul.long-list {
        columns: 2;
    }
}

@media (max-width: 700px) {
    img.left-wrap-img {
        width: 100%;
        padding-bottom: 2em;
        min-width: 0;
    }
    .project-text p {
        text-indent: 2.5ch;
    }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
    .about-blurb {
        width: 80%;
    }
    .content-container {
        margin: 10px;
    }
    .skill {
        font-size: 10pt;
    }
    .skills-label {
        display: none;
        margin: none;
        padding: none;
    }
}

@media only screen and (orientation: portrait) and (max-width: 950px) {
    
    .content-category .subtitle {
        font-size: max(min(1.5vw, 2vh), 18pt);
    }
    .content-container .content-heading .content-text {
        font-size: max(min(1.5vw, 2vh), 12pt);
    }
    .content-container .content-heading .content-coll-indicator {
        font-size: max(min(3vh, 3vw), 15pt);
    }
    .content-container .content-heading .content-text .content-dates {
        font-size: max(75%, 10pt);
    }
    .content-container .content-expand .content-main-text {
        font-size: max(min(1.5vw, 2vh), 11pt);
    }
    .content-container .content-heading .content-logo img {
        border-radius: 20%;
    }
}

#dnadig {
    filter: sepia(1) invert(1) hue-rotate(-90deg) contrast(100%) drop-shadow(5px 5px 16px var(--terminal-green));
}