{% extends 'template.html' %}
{% block css %}<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/about-page.css') }}">{% endblock %}
{% block page_header_title %}yichen.chong(){% endblock %}
{% block content %}
    <div class="page-title">
        About Me
    </div>
    <div class="slide shortest-slide">
        <div class="slide-container center-justify">
            <div class="subtitle about-blurb">
                I grew up in a diverse international background, and consequently,
                developed a <span class="highlight">wide variety of interests</span>. I'm a huge
                <span class="highlight">tech enthusiast</span>, and I love to
                <span class="highlight">solve problems</span> and <span class="highlight">code</span> (and especially both at once).
                My tech interests range from <span class="highlight">data science</span> to
                <span class="highlight">full-stack development</span>,
                and I also engage in <span class="highlight">engineering, design, and&nbsp;business.</span>
                <br/><br/>
                I'm an <span class="highlight">incredibly fast hands-on learner</span>, with a 
                <span class="highlight">penchant for picking up new skills</span>.
                If you want someone who has great test-taking and right-answer-regurgitation abilities, that's not me.
                However, if you want <span class="highlight">someone who can take projects and execute on them</span> or who can
                <span class="highlight">generate creative solutions to issues</span>,
                I'm&nbsp;your&nbsp;man.
                <br/><br/>
                I'm always <span class="highlight">looking for new opportunities</span>
                to extend and use my skills, so if my background sounds
                like a good fit for you, contact me and let&nbsp;me&nbsp;know!
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide-container center-justify">
            {{ resume_doc | safe }}
        </div>
    </div>
    <div class="slide shortest-slide">
        <div class="slide-container center-justify">
            <div class="content-category">
                <div class="subtitle">Testimonials</div>
                <div class="subtitle text testimonials">
                    I'm a strong team player who takes initiative
                    and I'm known for my communication,
                    helpfulness, dedication, and patience.
                    <br/> But don't just take it from me -
                    <span class="hovertext" data-hover="Original documentation available upon request">
                        here is what others have had to say about my work:
                    </span>
                    <br/><br/>
                    <span class="section-sub-header">Excerpts from Fang Wu, my manager from ByteDance (also on my LinkedIn page):</span>
                    <div class="quote">
                        Yi Chen is a <span class="highlight">passionate and talented</span> intern worked with us in ByteDance Singapore office during summer of 2022. He's a <span class="highlight">fast learner with self-driven personality</span>, which makes the onboarding and knowledge ramp up super easy and fast. Yi Chen not only worked on manual testing, but quickly got the gist of automation framework. He had <span class="highlight">contributed a lot</span> on test automation and automation framework enhancement during his internship. It's impressive that he <span class="highlight">always thinks about how to improve work efficiency</span> and implement accordingly. He <span class="highlight">never hesitate to help others, or taking up any tasks</span>. It's a great pleasure working with him and hope we could have opportunities working together again in future!
                    </div>
                    <br/><br/>
                    <span class="section-sub-header">Excerpts from my National Service Commander's Appraisal and Testimonial:</span>
                    <br/><br/>
                    <div class="quote">
                        "3SG CHONG was an <span class="highlight">approachable and capable leader</span>
                        who displayed <span class="highlight">commendable</span> characteristics
                        such as <span class="highlight">perseverance</span> and <span class="highlight">helpfulness</span>.
                        His <span class="highlight">willingness to communicate openly</span> and provide constructive
                        feedback had earned him the respect of both his superiors and soldiers ... He was
                        <span class="highlight">passionate</span> in nurturing
                        his soldiers, which ultimately led to his section achieving excellent results during their first year
                        evaluation."
                    </div>
                    <br/>
                    <div class="quote">
                        "3SG CHONG was responsible for training and leading his soldiers and junior commanders. He was observed to have
                        <span class="highlight">spent additional hours outside training</span> to coach his soldiers personally if they
                        faced difficulties during training. He had notably coached one of his soldiers prior to a live firing exercise,
                        with the intention of ensuring that the soldier could execute his drills safely. He had been a
                        <span class="highlight">valued member of his team</span>, providing valuable knowledge and
                        experience. He was known to be a <span class="highlight">helpful</span> and
                        <span class="highlight">approachable</span> commander, always open to providing clarifications to those around
                        him ...  In summary, 3SG CHONG has performed well during his service and had
                        <span class="highlight">displayed commendable spirit as a leader</span>. He was
                        <span class="highlight">knowledgeable</span>, <span class="highlight">helpful</span> and was
                        <span class="highlight">a team player</span>. We are confident that with his capabilities, 3SG CHONG will be a
                        valuable asset to any organisation he joins in the future."
                    </div>
                    <br/>
                    <span class="section-sub-header">
                        Comments from students on
                        <a href="https://upchieve.org/">Upchieve</a>
                        , a volunteer tutoring platform I work with:
                    </span>
                    <br/><br/>
                    <span class="quote">
                        Extremely <span class="highlight">kind and relatable</span>, <span class="highlight">easy to work with</span> and was politely
                        honest"
                    </span> - G.
                    <br/><br/>
                    <span class="quote">
                        My coach was awesome! <span class="highlight">Super helpful and patient</span>--loved working together!"
                    </span> - A.
                </div>
            </div>
        </div>
    </div>
    {% if skills is defined %}
        <div class="slide shortest-slide">
            <div class="slide-container center-justify">
                <div class="content-category">
                    <div class="subtitle">Skills</div>
                    <p>Select any skill to view my projects involving it:</p>
                    <div class="skills-container noselect">
                        {% for item in skills %}
                            <a class="skill" href="/projects?filter={{ item[2]|urlencode }}">
                                <div class="img-container"><img alt="{{ item[2] }} logo" src="{{ item[3] }}"></div>
                                <div class="text">{{ item[2] }}</div>
                            </a>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/about-page.js') }}"></script>
{% endblock %}