<!DOCTYPE html>
<html lang="en">
	<title>Yi Chen Chong</title>

	<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GTHQ5FCVBT"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-GTHQ5FCVBT');
        </script>
		<meta charset="utf-8" content="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#111111">
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/site-template.css') }}">
        {% block css %}{% endblock %}
		<link type="text/css" rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="page-header" id="title-page-header">
			<div id="header-logo-container">
				<div class="title-logo noselect">
					{% if self.page_header_title() %}
					<a href="/">
						{%block page_header_title %}{% endblock %}
					</a>
					{% endif %}
				</div>
			</div>
            <div id="menu-bar-container" class="noselect">
                <a href="/" title="Home">
                    <div id="home-button" class="header-menu-button">
                        <i class="fa fa-lg fa-home"></i>
                    </div>
                </a>
				<a href="/about" title="About">
                    <div class="header-menu-button">
                        <span>About</span>
                    </div>
                </a>
                <a href="/projects" title="Projects">
                    <div class="header-menu-button">
                        <span>Projects</span>
                    </div>
                </a>
                <a href="/contact" title="Contact Me">
				    <div class="header-menu-button"><span>Contact</span></div>
                </a>
			</div>
		</div>
		<div id="page-top" class="spacer"></div>
		{% block content %}{% endblock %}
		<div class="footer">
			<div class="slide-container evenly-justify noselect" id="social-media-btns">
				<div class="socialbtns">
					<ul>
						<li>
							<a href="https://github.com/yichenchong" class="fa fa-lg fa-github" title="GitHub"></a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/yc-chong/" class="fa fa-lg fa-linkedin" title="LinkedIn"></a>
						</li>
						<li>
							<a class="fa fa-lg fa-envelope" title="Email" href="mailto:yichenchong%40yahoo.com" onclick="this.href=atob('bWFpbHRvOnlpY2hlbmNob25nJTQweWFob28uY29t'); return true"></a>
						</li>
						<li>
							<a href="{{ url_for('static', filename='files/yi_chen_chong_resume.pdf') }}" class="fa fa-lg fa-file" download title="Resume"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>