<div class="page-title">
    <a href="/projects/">Projects</a>
</div>
<div class="slide">
    <div class="slide-container center-justify">
        <div class="content-category project-content-category">
            {% for item in projects %}
                {% if params.get("filter") == None or params.get("filter") in item.tags %}
                <a href="/projects/{{ item.page }}">
                    <div class="content-container">
                        <div class="content-heading" bg-img="{{ url_for('static', filename='img/vm2.png') }}">
                            <div class="content-logo"></div>
                            <div class="content-text">
                                <div class="content-title">{{ item.name }}</div>
                                <div class="content-subtitle">{{ item.subtitle }}</div>
                                <div class="content-dates">{{ item.dates }}</div>
                                <div class="skills">
                                    <div class="skills-label">
                                        Skills: 
                                    </div>
                                    <div class="skills-container noselect">
                                        {% for i in range(item.tags|length) %}
                                                <a href="/projects?filter={{ item.sanitized_tags[i] }}">
                                                    <div class="skill">
                                                        <div class="text">{{ item.tags[i] }}</div>
                                                    </div>
                                                </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="content-logo"></div>
                        </div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>