<div class="page-title">
    Pintos
</div>
<div class="slide center-justify">
    <div class="slide-container center-justify">
        <div class="content-category">
            <div class="subtitle" style="text-align: center">
                <i>
                    A miniature operating system kernel
                </i>
            </div>
            <br/>
            <div style="text-align: center">
                Skills: Computer Science, C, Git, Programming, Teamwork
            </div>
            <br/><br/>
            <div class="project-text">
                <div class="subtitle">
                    The short version
                </div>
                <ul>
                    <li>
                        Built (with my team) a miniature operating system kernel in C
                    </li>
                    <li>
                        Focused on implementing the 4.4BSD MLFQs scheduler
                    </li>
                    <li>
                        Also worked on thread/process table implementations and debugging file system calls
                    </li>
                </ul>
                <div class="subtitle">
                    Introduction
                </div>
                <p>
                    Pintos is a miniature operating system kernel that was developed at Stanford University. It is used in the Operating Systems course at Stanford, and was imported to Year 2 Computing at Imperial. I took the course in the Fall of 2019, and worked on the project with a team of 3 other students.
                </p>
                <div class="subtitle">
                    Implementation
                </div>
                <p>
                    The project was split into 4 parts, each of which was designed to be completed in 2 weeks. The first part was to implement a simple alarm clock, which was used to test our understanding of synchronisation (particularly with semaphores). The second part was to implement a priority scheduler and a multi-level feedback queue scheduler. The third part was to implement user-level programs, which involved working with file systems. The final part was to implement a virtual memory system.
                </p>
                <p>
                    I worked on the second and third parts of the project. The fourth part was not part of the JMC curriculum, and was only carried out by the Computing students. For the second part, I implemented the MLFQs scheduler, which involved creating fixed-point arithmetic libraries in C, and implementing the behaviour of the scheduler according to specification. For the third part, I worked on the thread/process table implementations, and on debugging file system calls.
                </p>
                <div class="subtitle">
                    Individual Learning and Growth
                </div>
                <p>
                    During this project, I learned a lot about C, operating systems, and concurrency. I also learned a lot about working in a team, and how to effectively communicate with my teammates. Finally, I also learned how to use the GDB debugger, and how to use it to debug concurrency issues.
                </p>
            </div>
        </div>
    </div>
</div>