<div class="page-title">
    Projectile Rocket Simulation
</div>
<div class="slide center-justify">
    <div class="slide-container center-justify">
        <div class="content-category">
            <div class="subtitle" style="text-align: center">
                <i>
                    Replicated calculations for projectile rocket viability
                </i>
            </div>
            <br/>
            <div style="text-align: center">
                Skills: C++, Computer science, Mathematics, Physics, Python
            </div>
            <br/><br/>
            <div class="project-text">
                <div class="subtitle">
                    Introduction
                </div>
                <p>
                    I’ve always been fascinated by space, and especially by space flight. I always like to say that watching the movie October Sky as a child brought me my own Sputnik moment in that it inspired me and made me want to learn everything I possibly could about engineering. Even as I grew and developed other aspirations, I liked to keep up with spaceflight news: to this day, I still watch every SpaceX and NASA launch live whenever I can.
                </p>
                <p>
                    While home from the army for a weekend, I was browsing the news, and a new company, SpinLaunch, caught my eye. SpinLaunch promised to send satellites into orbit almost entirely using projectile motion. It would use a centrifugal arm to spin the rocket payload up to speed before releasing it, allowing it to fly until it neared Low Earth orbit. At that point, a few thrusters would take advantage of the thinned air and easily manoeuvre it into orbit.
                </p>
                <p>
                    I was immediately excited. Rocket engineering is notoriously tricky, as exemplified by the term “rocket science” to mean something exceptionally intellectually demanding; even the physics of a rocket is complex, as when fuel leaves, it applies a reaction force while simultaneously decreasing the rocket’s mass. Projectiles would greatly simplify the modelling problem by reducing the two variables to gravity and drag.
                </p>
                <p>
                    These two variables were still somewhat complicated, however. At those altitudes, gravity has changed a little bit, and drag has changed quite a lot due to lower air density. Therefore, it is no longer accurate to model either as entirely static.
                </p>
                <p>
                    I quickly set to work, trying to replicate SpinLaunch’s calculations. I quickly constructed a differential equation modelling the whole scenario. At first, I attempted to find a solution to the differential equation analytically, but that proved far too complicated, especially for someone whose mathematical brain had been rotting away in a military environment for over a year. I turned to a numerical simulation for a solution. Modelling it first in Python and then in C++ to improve speeds, I managed to replicate the results that SpinLaunch came to.
                </p>
                <p>
                    A demonstration of this project should be coming soon, so stay tuned!
                </p>
                <p>
                    <i>This project article is currently incomplete. More will be posted soon, so please check back later!</i>
                </p>
            </div>
        </div>
    </div>
</div>